@font-face {
  font-family: 'Ogg-Roman';
  src:  url('fonts/Ogg-Roman.woff2') format('woff2'),
        url('fonts/Ogg-Roman.woff') format('woff');


}

body {
  font-family: 'Ogg-Roman', -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  /* overflow: hidden; */
}


h2 {
  font-weight: 300;
  line-height: 110px;
  font-size: 100px;
  letter-spacing: -0.02em;
  margin: 0;
}


h3 {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  font-weight: normal;
  font-size: 25px;
}


h5 {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.footerText {
  position: fixed;
  right: 1vw;
  bottom:-20px;
  /* letter-spacing: -0.02em; */
  margin: 0;

}


.footerLogo {
  position: fixed;
  left: 22px;
  bottom:-20px;
  /* letter-spacing: -0.02em; */
  margin: 0;
}

.scloud {
  margin-right:-20px;
  margin-top:-100px;
  margin-bottom:-50px;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.07);
  /* width: 400;
  height: 166; */
}


.bigText {

}


.circle {
  position: absolute;
  z-index: -1;
  left: 350px;
  top: 100px;
}
