@font-face {
  font-family: 'spaceGrotesk-Light';
  src:  url('fonts/SpaceGrotesk-Light.woff2') format('woff2'),
        url('fonts/SpaceGrotesk-Light.woff') format('woff');

  font-family: 'spaceGrotesk-Bold';
  src:  url('fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('fonts/SpaceGrotesk-Bold.woff') format('woff');
}

body {
  font-family: 'spaceGrotesk-Light', -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

p {
  font-weight: 300;
  line-height: 90px;
  font-size: 80px;
  letter-spacing: -0.02em;
  /* vertical-align: bottom; */
  margin: 0;
}


h5 {

  font-weight: 300;
  /* line-height: 90px; */
  font-size: 30px;
  letter-spacing: -0.02em;
  /* vertical-align: bottom; */
  margin: 0;
}




miniTitle {
  font-family: 'spaceGrotesk-Bold', -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}
