@font-face {
  font-family: 'NBArchitektStd-Bold';
  src: url('fonts/NBArchitektStd-Bold.woff2') format('woff2'),
    url('fonts/NBArchitektStd-Bold.woff') format('woff');
}

html {
  background-color: #C7C8C4;
}

body {
  font-family: 'NBArchitektStd-Bold',  Consolas,
               monaco,
               monospace;
  /* overflow-x: hidden; */
}

::-moz-selection { background: #D7FA6E; }
::selection { background: #D7FA6E; }

h1 {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: justify;
  text-justify: inter-word;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 2px;
}

h2 {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: justify;
  text-justify: inter-word;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 2px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: justify;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 2px;
}


.tiny-text {
  font-size: 12px;
  vertical-align: top;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.text-black {
  color: #212121;
  text-shadow: 0px 0px 0.584817px #212121;
}

.text-grey {
  color: #B9BAB6;
  text-shadow: none;
}

.main-section {
  max-width: 300px;
  margin-left: 300px;
  margin-top: 180px;
  position: relative;
}

#fm-shape {
  position: absolute;
  z-index: -2;
  left: 0px;
  display: inline-block;
}

#roe-shape {
  position: absolute;
  z-index: -2;
  left: 0px;
  display: inline-block;
}

#fm-shape-mob {
  display: none;
}

#roe-shape-mob {
  display: none;
}

.fm-div {
  position: relative;
}

.fm-content {
  position: absolute;
  z-index: -1px;
  left: 440px;
  top: 91px;
  width: 120px;
}

.roe-div {
  position: relative;
  margin-top: 0px;
}

.roe-content {
  position: absolute;
  z-index: -1px;
  left: 440px;
  top: 207px;
  width: 120px;
}

.top-shape-1 {
  top: 0px;
  left: 300px;
  position: fixed;
}

.top-shape-2 {
  top: 96px;
  left: 300px;
  position: fixed;
}

.fm-mobile-line {
  display: none;
}

.roe-mobile-line {
  display: none;
}

.bio {
  margin-top: 55px;
}

.info {
  margin-top: 53px
}

a {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
}

a:hover {
  /* font-style: italic; */
  /* text-decoration: underline; */
  color: #D7FA6E;
  text-shadow: 0px 0px 0.584817px #D7FA6E;
}

@media screen and (max-width: 880px) {

  /* body {
    background-color: lime;
  } */
  .main-section {
    max-width: 300px;
    margin-left: 16px;
    margin-top: 190px;
    position: relative;
  }

  .top-shape-1 {
    top: 0px;
    left: 16px;
    position: fixed;
  }

  .top-shape-2 {
    top: 96px;
    left: 16px;
    position: fixed;
  }

  .info {
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 600px) {

  /* body {
    background-color: lime;
  } */
  .main-section {
    max-width: 300px;
    margin-left: 16px;
    margin-top: 190px;
    position: relative;
  }

  .top-shape-1 {
    top: 0px;
    left: 16px;
    position: fixed;
  }

  .top-shape-2 {
    display: none;
  }

  #fm-shape {
    display: none;
  }

  #roe-shape {
    display: none;
  }

  .fm-content {
    position: relative;
    z-index: -1px;
    left: 0px;
    top: 0px;
    width: 120px;
    margin-top: 16px;
    margin-bottom: -12px;
  }

  .roe-content {
    position: relative;
    z-index: -1px;
    left: 0px;
    top: 0px;
    width: 120px;
    margin-top: 16px;
    margin-bottom: -12px;
  }

  .roe-div {
    margin-top: 48px;
  }

  .fm-mobile-line {
    display: inline-block;
    margin-top: -20px;
  }

  .roe-mobile-line {
    display: inline-block;
    margin: 0;
  }

  #fm-shape-mob {
    position: absolute;
    z-index: -2;
    left: 0px;
    display: inline-block;
  }

  #roe-shape-mob {
    position: absolute;
    z-index: -2;
    left: 0px;
    display: inline-block;
  }
}
