@font-face {
  font-family: 'Ticketing';
  src: url('fonts/ticketing.woff2') format('woff2'),
    url('fonts/ticketing.woff') format('woff');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'helvetica neue', helvetica,
    arial,
    sans-serif;
}

.code-text {
  font-family: ticketing;
  /* font-size: 12px; */
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.34em;
}

canvas {
  display: block;
  filter: saturate(1.4);
}

p {
  color: #fff;
  text-transform: uppercase;
  /* Font-weight: 500; */
  font-weight: bold;
  font-size: 12px;
  line-height: 14.5px;
  margin: 0;
  text-shadow: 0px 0px 4px #F32104;
  color: #F32104;
}

.soundcloud-frame {
  position: absolute;
  bottom: 54px;
  right: 60px;
  left: auto;
  z-index: 2;
  border-radius: 8px;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 14px;
  letter-spacing: 0.5px;
}


#load-shape {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #C7C8C4;
  z-index: 1;
  display: inline-block;
}

.UI {
  animation: UI 0.2s linear infinite;
}

@keyframes UI {
  50% { opacity: 0; }
}


.loadingScreen {
  /* display: none; */
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #081C30;
  /* background-image: url(images/background-vid-still@2x.png); */
  background-size: cover;
  background-position: center;
}

.yellow-text {
  color: #EDFF20;
}

.topText {
  text-transform: uppercase;
  text-align: left;
  position: fixed;
  top: 60px;
  margin: 0 auto;
  width: 430px;
  left: 300px;
  box-shadow: 0px 0px 7px 0px #F32104 50% inset;
}

.bottomText {
  /* display: none; */
  text-transform: uppercase;
  text-align: left;
  position: fixed;
  bottom: 60px;
  height: 80vh;
  left: 160px;
  box-shadow: 0px 0px 7px 0px #F32104 50% inset;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  z-index: 2
  /* half of width*/
}

.progress-container {
  /* width: 327px; */
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 327px;
  margin: 0 auto;
  padding: 2rem;
}

#loading-objects-start {
  color: #081C30;
  /* color: pink; */
  text-align: center;
  /* padding-left: 20px; */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  position: absolute;
  z-index: 1;
  padding-top: 3px;
  display: none;
  text-shadow: 0px 0px 0px #F32104;
}

#startButton {
  display: none;
}

.logo-top {
  width: 40px;
  position: fixed;
  top: auto;
  bottom: 60px;
  left: 60px;
  z-index: 2;
  /* display: none; */
}

#compass {
  position: fixed;
  bottom: 260px;
  left: 54px;
  z-index: 2;
  /* display: none; */
  width: 60px;
  height: 60px;
}

#compassCenter {
  position: fixed;
  width: 18px;
  /* top: 28px;
  left: 28px; */
  /* transform: translate(-50%, -50%); */
}

#compassCenterDiv {
  position: relative;
  left: 21.1px;
  top: 21.1px;
}

#compassNorth {
  position: fixed;
  width: 60px;
}

#compassSouth {
  position: fixed;
  width: 60px;
}

#compassEast {
  position: fixed;
  width: 60px;
}

#compassWest {
  position: fixed;
  width: 60px;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 14px;
    letter-spacing: 0.2px;
  }

  .loadingText {
    transform: none;
    top: auto;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
    position: fixed;
    bottom: 10vh;
    margin: 0 auto;
    width: 430px;
    max-width: 300px;
    left: 50%;
    margin-left: -150px;
    /* half of width*/
  }

  .bottomText {
    display: none;
    text-align: left;
    position: fixed;
    bottom: 5vh;
    margin: 0 auto;
    max-width: 300px;
    left: 50%;
    margin-left: -150px;
    /* half of width*/
  }

  .logo-top {
    display: none;
  }

  #compass {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    display: inline-block;
  }

  .soundcloud-frame {
    position: absolute;
    bottom: 54px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    border-radius: 8px;
  }
}
